body {
    background-color: antiquewhite;
}


.bg-brown {
    background-color: #68441f;
}

.bg-light-gray {
    background-color: #e4ddc4;
}

.btn-brown{
    background-color: #412a14;
    color: white;
}

.btn-brown:hover{
    background-color: #513519;
    color: white;
}

.title {
    font-family:'Courier New';
    text-decoration: none;
    color: #513519; 
}

.link-style {
    color: #513519; 
}