.bg-main {
    background-color: rgb(249, 240, 227);
}

.bg-reglog {
    background-color: #8fd5f8;
}

.bg-brown {
    background-color: #66bfec;
}

.btn-brown{
    background-color: #e5781f;
    color: white;
}

.btn-brown:hover{
    background-color: #b96119;
    color: white;
}

.title {
    font-family:'Henny Penny', sans-serif;
    text-decoration: none;
    color: #ffffff; 
}

.link-style {
    color: #e5781f; 
}

.link-style:hover {
    color: #b96119; 
}