<link href="/stylesheets/style.css" rel="stylesheet">

<footer class="bg-blue text-light py-1">
    <div class="container text-center">
        <p>&copy; 2024 Cataventos. Todos os direitos reservados.</p>
        <p>Powered by Gongays</p>
    </div>
</footer>