<link href="/stylesheets/style.css" rel="stylesheet">

<div class="d-flex" id="header">
    <nav class="navbar bg-blue fixed-top w-100">
        <div class="container-fluid d-flex align-items-center">

            <!-- Botão do Menu Lateral -->
            <div class="col-auto">
                <button class="navbar-toggler bg-white" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#my_navbar" aria-controls="my_navbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- Logo e nome -->
            <div class="col text-center text-lg-start">
                <a href="/homepage"
                    class="navbar-brand d-flex align-items-center justify-content-center justify-content-lg-start text-light fs-2">
                    <img src="/images/catavento.png" alt="Logo" class="rounded-circle" width="50" height="50">
                    <span class="title">Cataventos</span>
                </a>
            </div>

            <!-- Campo de pesquisa e dropdown do perfil -->
            <div class="col-auto d-flex align-items-center">
                <form class="d-flex align-items-center me-3 d-none d-md-flex" action="/search">
                    <button class="btn btn-brown rounded-pill fw-bold" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>

                <div class="btn-group">
                    <button type="button" class="btn btn-brown rounded-pill fw-bold dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/user/<%= user_id %>">Meu Perfil</a></li>
                        <li><a class="dropdown-item" href="/user/logout">Sair</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Menu Lateral Offcanvas -->
        <div class="offcanvas offcanvas-start bg-sidebar-title text-light" tabindex="-1" id="my_navbar"
            aria-labelledby="my_navbar_label">
            <div class="offcanvas-header">
                <i class="bi bi-menu-button-wide-fill me-2 fs-4"></i>
                <h5 class="offcanvas-title fs-4 text-light" id="my_navbar_label">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

            <div class="offcanvas-body bg-sidebar">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 fs-5 text">
                    <li class="nav-item my-2">
                        <a class="nav-link d-flex align-items-center text-light rounded-pill" href="/homepage">
                            <i class="bi bi-house-fill me-2 fs-4 ps-2"></i> Página Inicial
                        </a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link d-flex align-items-center text-light rounded-pill" href="/my_tales">
                            <i class="bi bi-book-half me-2 fs-4 ps-2"></i> Meus Contos
                        </a>
                    </li>
                    <li class="nav-item my-2">
                        <a class="nav-link d-flex align-items-center text-light rounded-pill" href="/my_lists">
                            <i class="bi bi-view-list me-2 fs-4 ps-2"></i> Minhas Listas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>