.bg-main {
    background-color: #fbf1e4;
}

.bg-reglog {
    background-color: #8fd5f8;
}

.bg-brown {
    background-color: #66bfec;
}

.bg-sidebar-title {
    background-color: #e5781f;
}

.bg-sidebar {
    background-color: #f88b32;
}

.btn-brown{
    background-color: #e5781f;
    color: white;
}

.btn-brown:hover{
    background-color: #b96119;
    color: white;
}

.btn-brown:active {
    background-color: #e5781f;
    color: white;
}

.title {
    font-family:'Henny Penny', sans-serif;
    text-decoration: none;
    color: #ffffff; 
}

.link-style {
    color: #e5781f; 
}

.link-style:hover {
    color: #b96119; 
}

.nav-link:hover {
    background-color: #f9a333;
    color: #fff;
}

.page-content {
    margin-top: 8%;
}

.form-text {
    height: 300px;
}

.search-w {
    width: 500px;
    border: 1px solid #e8dddd;
    
}

.text-index {
    color: #b96119;
    padding: 5%;
}

.card-init {
    border: 1px solid #f9dbbf;
    background-color: #ffe8c9;
    margin-left: 15%;
}